<launch> 
	<include file="$(find ur_demo)/launch/cam_and_tracking.launch"/>
	<arg name="robot_ip" default="127.0.0.1"/>
	<arg name="debug" default="false"/>
	<arg name="limited" default="false"/>

	<!-- Robot Driver -->
	<include file="$(find ur_robot_driver)/launch/ur10e_bringup.launch">
		<arg name="robot_ip" default="$(arg robot_ip)"/>
		<arg name="limited" default="$(arg limited)"/>
		<arg name="debug" default="$(arg debug)" />
	</include>

	<!-- Moveit Config -->
	<include file="$(find ur10_e_moveit_config)/launch/move_group.launch">
		<arg name="limited" default="$(arg limited)"/>
		<arg name="debug" default="$(arg debug)" />
	</include>

	<!-- Rviz -->
	<include file="$(find ur10_e_moveit_config)/launch/moveit_rviz.launch">
		<arg name="config" value="true"/>
	</include>

	<!-- Services -->
	<include file="$(find lds)/launch/services.launch">
		<arg name="group_name" default="manipulator"/>
		<arg name="threshold" default="1.5"/>
		<arg name="planning_time" default="0.1"/>
	</include>
</launch>

