<launch> 
	<arg name="group_name"/>
	<arg name="threshold"/>
	<arg name="planning_time"/>
	<param name="planning/group_name" value="$(arg group_name)"/>
	<param name="planning/threshold" value="$(arg threshold)"/>
	<param name="planning/planning_time" value="$(arg planning_time)"/>
	<node pkg="lds" type="move_pose_server" name="move_pose" output="screen"/>
	<node pkg="lds" type="move_joint_server" name="move_joint"/>
	<node pkg="lds" type="move_beer_server" name="move_beer"/>
	<node pkg="lds" type="move_cartesian_server" name="move_cartesian" output="screen"/>
	<node pkg="lds" type="create_environment_server" name="create_environment"/>
	<node pkg="lds" type="attach_object_server" name="attach_object"/>
	<node pkg="lds" type="move_server.py" name="move_server" output="screen"/>
</launch>

